.Logo{
    float: right;
    padding-right: 65px;
}
.Heading1{
    font: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 10px;
    margin-top: 50px;
    padding-top: 45px;
    padding-left: 60px;
}  
.Account{
    padding-left: 50px;
    background-size: cover;
    background-color: black ;
    padding-left: 65px;
    color: white;
} 